/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

i {
  cursor: pointer;
}

.ant-layout-content {
  min-height: calc(100vh - 136px);
}

.cdk-overlay-pane {
  width: 15% !important;
}

.flex-container {
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
}

.flex-container {
  .column {
    padding: 10px;
    flex: 3 60rem;
  }

  .column2 {
    flex: 1 20rem;
  }
}
.m-l{
  margin-left: 12px;
}
