.logo {
  width: 130px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.logo-text{
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  left: 64px;
}

nz-content {
  padding: 24px 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
}
